/* your styles go here */

/*PORTFOLIO*/

.font-size-text-portfolio{
    font-size: 2em;
}

.font-size-link{
    font-size: 1.5em;;
}

.rotate-resto{
   transition: transform .6s;
}

.rotate-resto:hover{
    transform: scale(1.2);
}

.rotate-blue{
  transition: transform .6s;
}


.rotate-blue:hover{
    transform: scale(1.2);
}

.rotate-love{
    transition: transform .6s;
}

.rotate-love:hover{
    transform: scale(1.2);
}